body{
	background-image: url('../img/fondo.png');
	background-size:100vw 100vh;
	background-attachment: fixed;
	margin: 50;
}

form{
	width: 550px;
	margin: auto;
	background: rgba(31,182,43,0.4);
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 15px;
	border-radius: 7px;
}
h1{
	color: #fff;
	text-align: center;
	margin: 0;
	background-color: rgba(4,118,244,0.7);
	border-radius: 7px;
	font-size:30;
	margin-bottom: 20px;
	font-family: Arial Black;
}

h2{
	color: Black;
	text-align: center;
	border-radius: 7px;
	font-size:25;
	margin-bottom: 20px;
	font-family: Arial Black;
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border: 1 solid #ccc;
}
/*letra*/
label{
	font-size: 20px;
	display: block;
	width: 100%;
	color: Black;
	font-family: Century Gothic;

}


