body{
	background-image: url('../img/profiles.png');
	background-size:200vw 200vh;
	background-attachment: fixed;
	margin: 0;
}

form{
	width: 540px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 15px;
	border-radius: 7px;
}
h1{
	color: #fff;
	text-align: center;
	margin: 0;
	background-color: rgba(0,0,0,0.7);
	border-radius: 7px;
	font-size:30;
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border: 1 solid #ccc;
}
/*letra*/
label{
	font-size: 20px;
	display: block;
	width: 100%;
	color: white;

}
h1{
	color: red;
	text-align: center;
	margin: 0;
	background-color:red;
	border-radius: 7px;
	font-size:30;
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border: 1 solid red;
}
/*letra*/
label{
	font-size: 20px;
	display: block;
	width: 100%;
	color: red;

}

input [type="submit"]{
	margin-bottom: 0;
	background: #1668C4;
	color:BLUE;
	color: none;
}
/*input[typpe="submit":hover]{
	background: #4A88F4;
}*/